<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NexERP | Histórico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<aside class="sidebar">

    <div class="sidebar-logo">
        <h2>NexERP</h2>
        <span>Mini ERP</span>
    </div>

    <nav>
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('produtos') }}">Produtos</a>
    <a href="{{ url_for('clientes') }}">Clientes</a>
    <a href="{{ url_for('vendas') }}">Vendas</a>
    <a href="{{ url_for('historico') }}">Histórico</a>
</nav>

    <a href="{{ url_for('logout') }}" class="logout">Sair</a>

</aside>

<main class="content">

    <div class="topbar">
        <div>
            <h1>Histórico de Vendas</h1>
            <p>Acompanhe todas as vendas registradas.</p>
        </div>
    </div>

    <section class="table-panel">

        {% if vendas %}

        <div class="table-responsive">

            <table>

                <thead>
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Pagamento</th>
        <th>Total</th>
        <th>Data</th>
    </tr>
</thead>

                <tbody>

                    {% for venda in vendas %}

                   <tr>

    <td>#{{ venda.id }}</td>

    <td>
        {{ venda.cliente_nome or "Não informado" }}
    </td>

    <td>
        <strong>{{ venda.produto_nome }}</strong>
    </td>

    <td>
        {{ venda.quantidade }}
    </td>

    <td>
        {{ venda.forma_pagamento or "-" }}
    </td>

    <td>
        R$ {{ "%.2f"|format(venda.valor_total) }}
    </td>

    <td>
        {{ venda.data }}
    </td>

</tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

        {% else %}

        <div class="empty-state">

            <h3>Nenhuma venda registrada</h3>

            <p>
                As vendas realizadas aparecerão aqui.
            </p>

            <a
                href="{{ url_for('vendas') }}"
                class="primary-button"
            >
                Registrar primeira venda
            </a>

        </div>

        {% endif %}

    </section>

</main>

</body>
</html>